! 96 * 1.375
Xft.dpi: 132

! special
URxvt.foreground:   #e6e1dc
!*.background:   #2b2b2b
URxvt.background:   #000
URxvt.cursorColor:  #e6e1dc

! black
URxvt.color0:       #2b2b2b
URxvt.color8:       #8d99a6

! red
URxvt.color1:       #da4939
URxvt.color9:       #402b2b

! green
URxvt.color2:       #a5c261
URxvt.color10:      #2f381c

! yellow
URxvt.color3:       #ffc66d
URxvt.color11:      #ffc66d

! blue
URxvt.color4:       #6d9cbe
URxvt.color12:      #6d9cbe

! magenta
URxvt.color5:       #b6b3eb
URxvt.color13:      #b6b3eb

! cyan
URxvt.color6:       #ff8700
URxvt.color14:      #4f2a00

! white
URxvt.color7:       #e6e1dc
URxvt.color15:      #f9f7f3

! URxvt
URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=true
URxvt.letterSpace: -1
URxvt.cursorBlink: 1
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxv.intensityStyle: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
